/*:root {
    --primary_color: #033f5f;
    --seconday_color: #007CBC;
    --highlight_color: #F5BA36;
    --neutral_grey: #747e83;
    --neutral_light: #ffffff;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: var(--primary_color);
}
h2 {
    color: var(--primary_color);
}
h3{
    color: var(--neutral_grey);
}
p {
    color: var(--neutral_grey);
}*/
img {
    max-width: 100%; /* This makes all your images responsive */
}
.spacer {
    margin-top: 5rem;
}
/*
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}
.container > * {
    grid-column: span 12;
}

/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {
   
   /*/.col-span-2 {
        grid-column: span 2;
   }
   .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
   }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-7 {
        grid-column: span 7;
   }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-9 {
        grid-column: span 9;
   }
   .col-span-10 {
        grid-column: span 10;
    }*/

}



    .grey {
         background-color: #ddd;
         width: 100%;
         padding-top: 5pt;
         padding-bottom: 5pt;
         padding-left: 10pt;
    }
    
    .orangetext {
        color: rgb(210, 70, 0);
    }
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 16px;
        color: black;
        font-weight:lighter;
    }

    h2 {
        font-size: 14px;
        color: black;
        font-weight:thinnner;
    }

    h3 {
        font-size: 12px;
        font-weight: lighter;
    }

    h4 {
        font-size: 8px;
        font-weight: bold;
    }
    
    h5 {
        font-size: 12px;
        font-weight: lighter;
        color: gray;
    }

    h6 {
        font-size: 12px;
        font-weight: lighter;
        color: black;
        margin-bottom: 10px;
        margin-top: 10px;
    }

   .accessories {
        font-size: 12px;
        float: left;
    }

    .beats {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .topnav {
      overflow: hidden;
      background-color: white;
      justify-content: center;
    }
    
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 11px;
      justify-content: center;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: light grey;
    }
    
    /* .topnav a.active {
      background-color: #04AA6D;
      color: white;
    } */

    a:link {
        text-decoration: none;
        color: black;
      }

    a:hover {
        color: grey;
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
        color: black;
    }

    .greybar {
        height: 80px;
        background-color: #ddd;
        width: 100%;
    }

    .container { 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
        margin: 0 auto;
        width: min(95%, 75rem);
    }

    .container2 { 
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
        margin: 0 auto;
        width: min(95%, 75rem);
    }

    .container > * {
        grid-column: span 12;
    }
    
    .lineheight1 {
        line-height: 1px;
        padding: 0px;
        margin-top: -20px;
        margin-bottom: 5px;
    }
    
    .lineheight2 {
        line-height: 0px;
        padding: 0px;
        margin-top: -35px;
    }

    .lineheight3 {
        line-height: 0px;
        padding: 0px;
        margin-top: -35px;
    }

    .lineheight4 {
        line-height: 1px;
        padding: 0px;
        margin-top: -30px;
        margin-bottom: 5px;
    }

    .lineheight5 {
        line-height: 1px;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .lineheight6 {
        line-height: 50px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: -22px;
    }

    .lineheight7 {
        line-height: 50px;
        padding: 0px;
        margin-top: -15px;
        margin-bottom: -22px;
    }

    .lineheightpg2 {
        line-height: 25px;
        padding: 0px;
        margin-top: -5px;
        margin-bottom: -50px;
    }

    .container_large {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
        margin: 0 auto;
        width: min(95%, 75rem);
        margin-top: -16pt;
        margin-bottom: -10pt;
        height: 60pt;
    }

    .outlinegrey {
        outline: #ddd solid;
        stroke: 1pt;
    }

    .dot1 {
        height: 20px;
        width: 20px;
        background-color: brown;
        border-radius: 50%;
        display: inline-block;
        margin-top: -40px;
        margin-right: 2px;
      }
      
      .outline {
        outline: #008CBA solid 2px;
        border-radius: 50%;
        outline-offset: 2px;
        border-style: none;
        }

      .dot2 {
        height: 20px;
        width: 20px;
        background-color: grey;
        border-radius: 50%;
        display: inline-block;
        margin-top: -40px;
        margin-right: 2px;
      }

      .dot3 {
        height: 20px;
        width: 20px;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
        margin-top: -40px;
        margin-right: 2px;
      }

    .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
    .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        max-width: 85pt;
        max-height: 50pt;
      }
      
    .button2:hover {
        background-color: #008CBA;
        color: white;
      }

      .button2 {
        width: 85pt;
        height: 50pt;
        border-radius: 8px;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 7pt;
        padding-bottom: 7pt;
    }

      .button4 {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
        width: 85pt;
        height: 50pt;
        padding-left: 6pt;
        padding-right: 6pt;
        padding-top: 7pt;
        padding-bottom: 7pt;
      }
      
    .button4:hover {
        background-color: #e7e7e7;
    }

    .button4 {
        border-radius: 8px;
    }

    .button5 {
        height: 25pt;
        width: 100%;
        border-radius: 8px;
        padding-top: 7pt;
        padding-bottom: 7pt;
        background-color: #008CBA;  
        border: none;
        font-size: 10pt;
      }

    .button5:hover {
        background-color: #005977;
        color: white;
      }
    
    .card {
        text-align: center;
        margin: 1rem;
        margin-left: -28pt;
        margin-bottom: -28pt;
        padding-bottom: 2rem;
        outline: #ddd solid 2pt;
        padding-left: 10pt;
        padding-right: 10pt;
        padding-top: 20pt;
    }

    .card-title {
        margin: 0.75rem 0 0 0;
        padding: 0 2rem 0.5rem;
    }

    .card-text {
        margin: 0.5rem 0 1rem 0;
    }

    .dotpg21 {
        height: 15px;
        width: 15px;
        background-color: brown;
        border-radius: 50%;
        display: inline-block;
        margin-top: -40px;
        margin-right: 2px;
      }

      .bold {
        font-weight: bold;
        margin-bottom: -30pt;
        margin-left: 3pt;
        font-size: 10pt;
        margin-top: -15pt;
      }

      .bluetext {
        color: #008CBA;
      }

      .awesomewebsites {
        font-size: 20pt;
        font-weight: bold;
        color: black;
      }

      .pink {
        background-color: pink;
      }
      .palegrey {
        background-color: grey;
      }
      .darkgrey {
        background-color: darkgray;
      }
      .navy {
        background-color: navy;
      }
      .black {
        background-color: black;
      }
      .tan {
        background-color: tan;
      }
      .blue {
        background-color: rgb(18, 239, 255);
      }
      .green {
        background-color: greenyellow;
      }


    /* Desktop Layout */
    @media screen and (min-width: 40rem) {
        .col-span-2 {
            grid-column: span 2;
        }
        .col-span-4 {
            grid-column: span 4;
        }
        .col-span-3 {
            grid-column: span 3;
        }
        .col-span-6 {
            grid-column: span 6;
        }
        .col-span-10 {
            grid-column: span 10;
        }
        .col-span-12 {
            grid-column: span 12;
        }

        .work-section{
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }
        .card {
            flex-basis: 27.5%;
        }




} 
/* Closes the media query */